<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Easy Farming</title>
    <link href= "css/style.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <script src= "js/date.js" defer> </script>
    <script src="js/forum.js" defer></script>
    <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class = "center">
        <div class="logo"><img src="assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
        <div class="menu">
            <a href="/login.html" th:href="@{/login}">Logout</a>
        </div><!--menu-->
    </div><!--center-->
</header>

<div class="forum" style="max-height: 100vh; overflow: scroll;">
    <div id="forum"></div>
</div>

</body>
</html>