<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Easy Farming</title>
        <link href= "css/style.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
        <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <header>
            <div class = "center">
                <div class="logo"><img class= "image" src="assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
                <div class="menu">
                    <a href="/about.html" th:href="@{/about}">About Us</a>
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </div><!--menu-->
            </div><!--center-->
        </header>
        <section class="sobre">
            <div class="extras">
                <img src="assets/—Pngtree—character collection of gardener big_7585259.png"height="800" width="800"/>
            </div><!--extras-->
            <div class="center">
                <div class="texto-sobre">
                    <h1>Easy Farming</h1>
                    <h2>Adding <span style="color:#83bf21 ;">green</span> to your life</h2>
                    <p>Be aware of your surroundings and don't miss even the smallest details! Want to make a garden but don't know how to take care of it? Login and get a personalized experience with notifications and much more!</p>
                    <a href="/login.html" th:href="@{/login}" class="button" style="padding-top: 0.75rem;padding-bottom: 0.75rem;padding-left: 1rem;padding-right: 1rem;">  Login  </a>
                    <p>Want to try upload a photo of a plant?</p>
                    <a href="/upload.html" th:href="@{/upload}" class="button" style="padding-top: 0.75rem;padding-bottom: 0.75rem;padding-left: 1rem;padding-right: 1rem;">Try now!</a>
                </div>
            </div>
        </section>
    </body>
</html>