<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Easy Farming</title>
        <link href= "css/style.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
        <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <header>
            <div class = "center">
                <div class="logo"><img src="assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
                <div class="menu">
                    <a href="/index.html" th:href="@{/home}">Home</a>
                </div><!--menu-->
            </div><!--center-->
        </header>
        <div class="login-box">
            <h1>Login</h1>
            <form th:action="@{/userpage}" href="/userpage.html">
                <label>Email</label>
                <input type="email" placeholder="">
                <label>Password</label>
                <input type="password" placeholder="">
                <!--<input type="button" value="Submit" >-->
                <a href="/userpage.html" th:href="@{/userpage}">
                    <button type="submit" >Submit</button>
                </a>
            </form>
        </div>
        <p class="go-login-signup">Not have an account?<a href="/signup.html" th:href="@{/signup}"> Sign Up here!</a></p>
        <div class="extras-login-signUp">
            <img src="assets/—Pngtree—character collection of gardener big_7585259.png"height="800" width="800"/>
        </div><!--extras-->
    </body>
</html>