<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Easy Farming</title>
        <link href= "css/style.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
        <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <header>
            <div class = "center">
                <div class="logo"><img src="/assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
                <div class="menu">
                    <a href="/index.html" th:href="@{/home}">Home</a>
                    <a href="/about.html" th:href="@{/about}">About Us</a>
                    <a href="/signup.html" th:href="@{/signup}">Sign Up</a>
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </div><!--menu-->
            </div><!--center-->
            <div class="image">
                <img src="assets/suculenta.png">
            </div>
            <div class="info">
                <h1>Mexican Snowball (<i>Echeveria elegans</i>)</h1>
                <h2>Description: </h2>
                <a>The mexican snow ball is a small but fast-growing succulent plant. It thrives in sunny environments and doesn't require much water to grow. The mexican snow ball is popularly grown as a windowsill plant. Its succulent leaves grow in various colors (green, silver, grey or blue) depending on the ambient conditions. </a>
                <h2>Care Guide:</h2>
                <h3>Water</h3>
                <a>Water your Mexican snowball plant after the soil has been allowed to dry out completely, soaking the substrate and then draining well. It's generally best to wait until a lower leaf starts to  shrivel on the plant, indicating it's ready for another drink. Cut back or eleiminate watering through winter when the plant goes dormant</a>    
                <h3>Fertelization</h3>
                <a> Most succulent plants are used to growing in the wild, where the environment is poor, so they do not need fertilization in their growth cycle. You can add a little slow-release fertilizer in early summer, but it's fine if you do not apply fertilizer at all. Don't fertilize during dormancy, because too many nutrients that it can't absorb may damages its growth.</a>
                <h3>Pruning</h3>
                <a>In order to keep a beautiful shape, large succulent plants may need pruning. For example, for echeveria planted in the garden, redundant branches or branches that are too dense need to be cut off in spring and fall.</a>
                <h3>Planting Time</h3>
                <a>Spring</a>
                <h3>Potting Suggestions</h3>
                <a>Needs excellent drainage in pots</a>
            </div>
        </header>
    </body>

</html>