<html>
    <head>
        <title>Easy Farming</title>
        <link href= "css/style.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
        <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <header>
            <div class = "center">
                <div class="logo"><img src="assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
                <div class="menu">
                    <a href="/index.html" th:href="@{/home}">Home</a>
                </div><!--menu-->
            </div><!--center-->
        </header>
        <div class="signup-box">
            <h1>Sign Up</h1>
            <form action="userpage.html">
                <label>First Name</label>
                <input type="text" placeholder="">
                <label>Last Name</label>
                <input type="text" placeholder="">
                <label>Email</label>
                <input type="email" placeholder="">
                <label>Password</label>
                <input type="password" placeholder="">
                <label>Confirm Password</label>
                <input type="password" placeholder="">
                <button type="submit">Submit</button>
            </form>
        </div>
        <p class="go-login-signup">Already have an account?<a href="/login.html" th:href="@{/login}"> Login here!</a></p>
        <div class="extras-login-signUp">
            <img src="assets/—Pngtree—character collection of gardener big_7585259.png"height="800" width="800"/>
        </div><!--extras-->
    </body>
</html>