<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Easy Farming</title>
        <link href= "css/style.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
        <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div class = "center">
                <div class="logo"><img class= "image" src="assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
                <div class="menu">
                    <a href="/index.html" th:href="@{/home}">Home</a>
                    <a href="/about.html" th:href="@{/about}">About Us</a>
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </div><!--menu-->
            </div><!--center-->
        </header>
        <div class="center">
            <h1 class="h1-upload">Upload the image of your plant and find out everything about it!</h1>
            <form>
              <input type="file" multiple />
              <button type="button">OK</button>
            </form>
            <div class="space"></div>
            <div class="info-tasks">
                <h1 class="h1-upload">Results:</h1>
                <ul id="resultados"></ul>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle"></h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h2>Image:</h2>
                        <img id="image"class="modal-image"/>
                        <h2>Description:</h2>
                        <p id="description"class="modal-info"></p>
                        <h2>Taxonomy:</h2>
                        <p id="classs" class="modal-taxonomyclass"></p>
                        <p id="family" class="modal-taxonomy1"> </p>
                        <p id="genus" class="modal-taxonomy2"></p>
                        <p id="kingdom" class="modal-taxonomy3"></p>
                        <p id="orderr" class="modal-taxonomy4"></p>
                        <p id="phylum" class="modal-taxonomy5"></p>
                        <div class="modal-alert">
                          <h4>Is it harmless to cats and dogs?</h4>
                          <p id="harmless" class="modal-harmless"></p>
                        </div>
            
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  document.querySelector('button').onclick = function sendIdentification() {
                      const files = [...document.querySelector('input[type=file]').files];
                      const promises = files.map((file) => {
                        return new Promise((resolve, reject) => {
                            const reader = new FileReader();
                            reader.onload = (event) => {
                              const res = event.target.result;
                              console.log(res);
                              resolve(res);
                            }
                            reader.readAsDataURL(file)
                        })
                      })

                      Promise.all(promises).then((base64files) => {
                        console.log(base64files)

                        const data = {
                          api_key: "Y3HpskRpvsPXwp3csh7tcYc1S15iCUHnSaLjn8WJ6LWTEb2DuF",
                          images: base64files,
                          // modifiers docs: https://github.com/flowerchecker/Plant-id-API/wiki/Modifiers
                          modifiers: ["crops_fast", "similar_images"],
                          plant_language: "en",
                          // plant details docs: https://github.com/flowerchecker/Plant-id-API/wiki/Plant-details
                          plant_details: ["common_names",
                                          "url",
                                          "name_authority",
                                          "wiki_description",
                                          "taxonomy",
                                          "synonyms"],
                        };

                        fetch('https://api.plant.id/v2/identify', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify(data),
                        })
                        .then(response => response.json())
                        .then(data => {
                          console.log('Success:', data);
                          res = document.getElementById("resultados");
                          if (data["images"]["is_plant"] == "false"){
                            res.innerHTML = `<a>No plant found</a>`;
                          }
                            
                          for (let i = 0; i < data["suggestions"].length; i++) {
                              child = document.createElement("li");
                              child.innerHTML = `<a class="a-results" data-toggle="modal" data-target="#exampleModalLong" 
                                                data-plant-cientificname="${data["suggestions"][i]["plant_name"]}" 
                                                data-plant-name="${data["suggestions"][i]["plant_details"]["common_names"][0]}" 
                                                data-plant-description="${data["suggestions"][i]["plant_details"]["wiki_description"]["value"]}"
                                                data-plant-image="${data["suggestions"][i]["similar_images"][0]["url"]}"
                                                data-plant-taxonomyclass="${data["suggestions"][i]["plant_details"]["taxonomy"]["class"]}"
                                                data-plant-taxonomyfamily="${data["suggestions"][i]["plant_details"]["taxonomy"]["family"]}"
                                                data-plant-taxonomygenus="${data["suggestions"][i]["plant_details"]["taxonomy"]["genus"]}"
                                                data-plant-taxonomykingdom="${data["suggestions"][i]["plant_details"]["taxonomy"]["kingdom"]}"
                                                data-plant-taxonomyorder="${data["suggestions"][i]["plant_details"]["taxonomy"]["order"]}"
                                                data-plant-taxonomyphylum="${data["suggestions"][i]["plant_details"]["taxonomy"]["phylum"]}">${data["suggestions"][i]["plant_details"]["common_names"][0].substring(0, 1).toUpperCase()+data["suggestions"][i]["plant_details"]["common_names"][0].substring(1)}</a>`;
                              res.appendChild(child);
                          }
                          })
                        .catch((error) => {
                          console.error('Error:', error);
                        });
                      })
                    
                  };
                  $('#exampleModalLong').on('show.bs.modal', function (event) {
                    const button = $(event.relatedTarget) // Button that triggered the modal
                    const plantCientificName = button.data('plant-cientificname')
                    const plantName = button.data('plant-name') // Extract info from data-* attributes
                    const plantDescription = button.data('plant-description')
                    const plantImage = button.data('plant-image')
                    const plantTaxonomyClass = button.data('plant-taxonomyclass')
                    const plantTaxonomy1 = button.data('plant-taxonomyfamily')
                    const plantTaxonomy2 = button.data('plant-taxonomygenus')
                    const plantTaxonomy3 = button.data('plant-taxonomykingdom')
                    const plantTaxonomy4 = button.data('plant-taxonomyorder')
                    const plantTaxonomy5 = button.data('plant-taxonomyphylum')
                    // Update the modal's content
                    const animalsplants = ["Allium sativum","Allium ampeloprasum","Alocacia spp.","Prunus","Anthurium scherzeranum","Begonia spp.","Rhododendron spp","Aloe vera","Begonia spp.","Portulaca oleracea","Euphorbia","Caladium hortulanum","Kalanchoe spp","Allium cepa","Allium schoenoprasum","Prunus","Cycas revoluta","Dieffenbachia","Zantedeschia aethiopica","Euphorbia","Viola","Tulipa spp.","Lycopersicon spp","Capsicum","Chrysanthemum","Malus","Citrus","Hydrangea arborescens"];
                    var plantHarmless = "Yes"
                    const alertDiv = document.querySelector('.modal-alert');

                    if (animalsplants.includes(plantCientificName)){
                      console.log('entrou?:', plantCientificName);
                      var plantHarmless = "No"
                      alertDiv.style.backgroundColor = "rgb(210, 99, 99)";
                      alertDiv.style.borderRadius = "5px";
                      alertDiv.style.textAlign = "center";
                    }
                    else{
                      var plantHarmless = "Yes"
                      alertDiv.style.backgroundColor = "#83bf21";
                      alertDiv.style.borderRadius = "5px";
                      alertDiv.style.textAlign = "center";
                    }
                    const modal = $(this)
                    modal.find('.modal-title').text(plantName)
                    modal.find('.modal-info').text(plantDescription.substring(0, 200))
                    modal.find('.modal-image').attr("src", plantImage)
                    modal.find('.modal-taxonomyclass').text("Class: "+plantTaxonomyClass)
                    modal.find('.modal-taxonomy1').text("Family: "+plantTaxonomy1)
                    modal.find('.modal-taxonomy2').text("Genus: "+plantTaxonomy2)
                    modal.find('.modal-taxonomy3').text("Kingdom: "+plantTaxonomy3)
                    modal.find('.modal-taxonomy4').text("Order: "+plantTaxonomy4)
                    modal.find('.modal-taxonomy5').text("Phylum: "+plantTaxonomy5)
                    modal.find('.modal-harmless').text(plantHarmless)
                  });

                  document.getElementById("resultados").addEventListener("click", function(e){
                    const name = e.target.getAttribute("data-plant-name");
                    const username = e.target.getAttribute("data-plant-name").replace(/\s/g, '');
                    const description = e.target.getAttribute("data-plant-description").substring(0, 200);
                    const image = e.target.getAttribute("data-plant-image");
                    const classs = e.target.getAttribute("data-plant-taxonomyclass");
                    const family = e.target.getAttribute("data-plant-taxonomyfamily");
                    const genus = e.target.getAttribute("data-plant-taxonomygenus");
                    const kingdom = e.target.getAttribute("data-plant-taxonomykingdom");
                    const orderr = e.target.getAttribute("data-plant-taxonomyorder");
                    const phylum = e.target.getAttribute("data-plant-taxonomyphylum");
                    const cientificname = e.target.getAttribute("data-plant-cientificname");
                    const animalsplants = ["Allium sativum","Allium ampeloprasum","Alocacia spp.","Prunus","Anthurium scherzeranum","Begonia spp.","Rhododendron spp","Aloe vera","Begonia spp.","Portulaca oleracea","Euphorbia","Caladium hortulanum","Kalanchoe spp","Allium cepa","Allium schoenoprasum","Prunus","Cycas revoluta","Dieffenbachia","Zantedeschia aethiopica","Euphorbia","Viola","Tulipa spp.","Lycopersicon spp","Capsicum","Chrysanthemum","Malus","Citrus","Hydrangea arborescens"];
                    var harmless = "Yes"

                    if (animalsplants.includes(cientificname)){
                      console.log('entrou?:', cientificname);
                      var harmless = "No"
                    }
                    else{
                      var harmless = "Yes"
                    }
                    const dados= { name,username, image, description, classs, family, genus, kingdom, orderr, phylum, harmless};
                    console.log(dados);
                    fetch(`/api/v1/plantByName/${name}`)
                    .then(response => response.json())
                    .then(exists =>{
                      // Verifique se o servidor retornou um resultado
                      if (exists) {
                        // O usuário já existe na base de dados
                        console.log('A planta já existe na base de dados');
                      } else {
                        // O usuário não existe na base de dados
                        console.log('A planta não existe na base de dados');
                        fetch('/api/v1/plants', {
                          method: 'POST',
                          body: JSON.stringify(dados),
                          headers: {
                            'Content-Type': 'application/json'
                          }
                        })
                        .then(function (response) {
                          console.log('Os dados foram enviados com sucesso');
                        })
                        .catch(function (error) {
                          console.error('Erro ao enviar os dados:', error);
                        });
                      }
                    })
                    .catch(function (error) {
                      console.error('Erro ao verificar a planta:', error);
                    });
                  })

                </script>
            </div>
        </div>
        <div class="extras-upload">
            <img src="assets/—Pngtree—character collection of gardener big_7585259.png"height="800" width="800"/>
        </div><!--extras-->
    </body>
</html>