<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Easy Farming</title>
        <link href= "css/style.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
        <meta nome="viewport" content=" witdth= device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div class = "center">
                <div class="logo"><img class= "image" src="assets/Logotipo planta com folhas.png" height="150" width="150"></div><!--logo-->
                <div class="menu">
                    <a href="/index.html" th:href="@{/home}">Home</a>
                    <a href="/about.html" th:href="@{/about}">About Us</a>
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </div><!--menu-->
            </div><!--center-->
        </header>
        <div class="center">
            <h1 class="h1-upload">Upload the image of your plant and find out everything about it!</h1>
            <form>
                <input type="file" multiple />
                <button type="button">OK</button>
            </form>
            <div class="space"></div>
            <div class="info-tasks">
                <ul id="resultados"></ul>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <p class="modal-title" id="exampleModalLongTitle" data-bind="text: nome"></p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  document.querySelector('button').onclick = function sendIdentification() {
                      const files = [...document.querySelector('input[type=file]').files];
                      const promises = files.map((file) => {
                        return new Promise((resolve, reject) => {
                            const reader = new FileReader();
                            reader.onload = (event) => {
                              const res = event.target.result;
                              console.log(res);
                              resolve(res);
                            }
                            reader.readAsDataURL(file)
                        })
                      })

                      Promise.all(promises).then((base64files) => {
                        console.log(base64files)

                        const data = {
                          api_key: "p9zvCLwZ1BWIfO9DYgszYYB1H1YKPKm9ygbQ3KSdbosSWn16FT",
                          images: base64files,
                          // modifiers docs: https://github.com/flowerchecker/Plant-id-API/wiki/Modifiers
                          modifiers: ["crops_fast", "similar_images"],
                          plant_language: "en",
                          // plant details docs: https://github.com/flowerchecker/Plant-id-API/wiki/Plant-details
                          plant_details: ["common_names",
                                          "url",
                                          "name_authority",
                                          "wiki_description",
                                          "taxonomy",
                                          "synonyms"],
                        };

                        fetch('https://api.plant.id/v2/identify', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify(data),
                        })
                        .then(response => response.json())
                        .then(data => {
                          console.log('Success:', data);
                          res = document.getElementById("resultados");
                          for (let i = 0; i < data["suggestions"].length; i++) {
                              child = document.createElement("li");
                              // child.innerHTML = `<a class="a-results" href="info/${data["suggestions"][i]["plant_details"]["common_names"][0]}">${data["suggestions"][i]["plant_details"]["common_names"][0].substring(0, 1).toUpperCase()+data["suggestions"][i]["plant_details"]["common_names"][0].substring(1)}</a>`;
                              child.innerHTML = `<a class="a-results" data-toggle="modal" data-target="#exampleModalLong" >${data["suggestions"][i]["plant_details"]["common_names"][0].substring(0, 1).toUpperCase()+data["suggestions"][i]["plant_details"]["common_names"][0].substring(1)}</a>`;
                              res.appendChild(child);
                          }
                          })
                        .catch((error) => {
                          console.error('Error:', error);
                        });
                      })
                    
                  };
                    
                </script>
            </div>
        </div>
        <div class="extras-upload">
            <img src="assets/—Pngtree—character collection of gardener big_7585259.png"height="800" width="800"/>
        </div><!--extras-->
    </body>
</html>