*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee';
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.center form{
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: left;
}

.p-results{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
}


ul{
    list-style: none;
    width: 100%;
}

.a-results{
    color: #83bf21;
}

.a-plants{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.a-plants:hover{
    color: #2f460a;
    text-decoration: none;
}

li{
    text-decoration: none;
    margin-bottom: 5px;
}

.alert{
    background-color: rgb(210, 99, 99);
    float: left;
    width: 498px;
    display: flex;
    justify-content: center;
    color: white;
    left: 674px;
    position: relative;
}

.message{
    background: darkseagreen;
    display: flex;
    justify-content: center;
}

.plant-image{
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: inherit;
}

.modal-title{
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.modal-footer{
    padding: 0px !important;
    border-top: 1px solid #e5e5e5;
    text-align: center !important;
}

.modal-footer button{
    margin-bottom: 15px;
}

.modal-body h2{
    text-align: center;
}

.modal-body img{
    display: block;
    margin: 0 auto;
    margin-bottom: inherit;
}

.modal-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    height: 70px;
}

.h1-upload{
    font-size: 40px;
}


header{
    padding: 20px 0;
}

.logo{
    width: 50%;

}

.menu{
    width: 50%;
    text-align: right;
}


.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100%-20px);
    position: relative;
}

.extras{    
    z-index: -1;
    position:absolute;
    bottom: -700px;
    right: -500px;
    width: 1200px;
    height: 1150px;
    border-radius: 50%; /* arredonda as bordas*/
    background-color: #83bf21;
}
.extras-upload{
    position:absolute;
    bottom: -400px;
    right: -500px;
    width: 1200px;
    height: 1150px;
    border-radius: 50%; /* arredonda as bordas*/
    background-color: #83bf21;
}

.extras-about-us{
    position:absolute;
    bottom: -600px;
    right: -500px;
    width: 1200px;
    height: 1150px;
    border-radius: 50%; /* arredonda as bordas*/
    background-color: #83bf21;
}

.extras-login-signUp{
    position:absolute;
    bottom: -400px;
    right: -500px;
    width: 1200px;
    height: 1150px;
    border-radius: 50%; /* arredonda as bordas*/
    background-color: #83bf21;
}

.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 60px;
}

.texto-sobre h2{
    font-size: 50px;
}

.texto-sobre h3{
    margin-top: 20px 0;
    color: #83bf21;
}

.texto-sobre p{
    margin-bottom: 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    max-width: 800px;
    text-align: left;
}

.texto-sobre a.button{
    border: 0;
    background-color: #83bf21;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: #83bf21;
    border-radius: 3px;
}

.login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: #83bf21;
}

.signup-box h1{
    text-align: center;
    padding-top: 15px;
}

.login-box h1{
    text-align: center;
    padding-top: 15px;
}

.signup-box h4{
    text-align: center;
}

.user-boxes form{
    height: 100px;
    width: 300px;
    margin-left: 20px;
}

.login-box form{
    height: 200px;
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

button[type="submit"]{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2f460a;
    color: white;
    font-size: 18px;
}

button[type="button"]{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2f460a;
    color: white;
    font-size: 18px;
}

button.delete-button{
    width: 360px;
    height: 35px;
    margin-top: -1px;
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 5px;
    background-color: #2f460a;
    color: white;
    font-size: 18px;
}

button.btn{
    width: 413px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #83bf21;
    color: white;
    font-size: 18px;
}

button.edit-button{
    width: 360px;
    height: 35px;
    margin-top: -1px;
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 5px;
    background-color: #2f460a;
    color: white;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.go-login-signup{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}

.go-login-signup a{
    color: #83bf21;
}

.image img{
    float: left;
    display: block;
    margin-left: 300px;
    margin-right: 50px;
    /*margin-left: auto;
    margin-right: auto;*/
    width: 20%;
}

.info h1{
    margin-bottom: 5px;
}

.info h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info h3{
    margin-top: 7px;
    margin-bottom: 5px;
    color: #83bf21;
}

.info{
    margin-right: 300px;
}

.info a{
    text-align: left;
    font-size: medium;
    margin-bottom: 10px;
    margin-top: 10px;
}

.datetime {
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-right: 10px #83bf21 solid;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.time {
    font-size: 3em;
    color: #83bf21;
}

.date {
    margin-top: 12px;
    font-size: 1.75em;
}

.welcome{
    width: 1250px;
    height: 50px;
    margin: auto;
    border-radius: 3px;
    float: left;
    display: block;
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.user-boxes{
    width: 360px;
    height: 150px;
    margin: auto;
    border-radius: 3px;
    background-color: #83bf21;
    float: left;
    display: block;
    margin-left: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.plant-boxes{
    width: 360px;
    height: 160px;
    margin: auto;
    border-radius: 3px;
    background-color: #83bf21;
    float: left;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.datetime-box{
    width: 360px;
    height: 500px;
    margin: auto;
    border-radius: 3px;
    float: right;
    display: block;
    margin-left: 20px;
    margin-right: 300px;
}

.info-tasks h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.info-tasks{
    /*margin: auto;*/
    border-radius: 3px;
    float: left;
    /*display: block;*/
    margin-left: 2px;
    margin-right: 20px;
    /*margin-bottom: 10px;*/
}


.space{
    width: 100%;
    height: 0px;
}

.premium-service{
    float: right;
    width: 50px;
    margin-top: 200px;
}

.row{
    margin-left: 40px !important;
}

.row h2{
    font-weight: bold;
}

.form-group label{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.form-group textarea{
    width: -moz-available;
}

.messages{
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    width: 498px;
}

.forumDiv{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    background: silver;
}

.forumMessage{
    width: -moz-available;
}


@media (max-device-width: 650px), (max-device-height: 650px) and (hover: none){
    header{
        padding: 70px 0;
        height: 300px;
    }

    .image{
        height: 250px;
        width: 250px;
    }

    .center{
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 2%;
    }

    .texto-sobre{
        margin-top: 100px;
        margin-left: 5%;
    }
    
    .texto-sobre h1{
        font-size: 130px;
    }

    .texto-sobre h2{
        font-size: 80px;
    }
    
    .texto-sobre h3{
        font-size: 40px;
        margin-top: 20px 0;
        color: #83bf21;
    }
    
    .texto-sobre p{
        margin-bottom: 20px;
        color: black;
        font-size: 40px;
        font-weight: bold;
        max-width: 800px;
        text-align: left;
    }
    
    .texto-sobre a.button{
        border: 0;
        background-color: #2f460a;
        font-size: 38px;
        color: white;
        border-radius: 5px;
        width: 200px;
        height: 50px;
        cursor: pointer;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    
        text-decoration: none;
    }

    .extras{    
        z-index: -1;
        position:absolute;
        bottom: -95%;
        right: -50%;
        width: 1200px;
        height: 1150px;
        border-radius: 50%; /* arredonda as bordas*/
        background-color: #83bf21;
    }

    html, body{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .login-box{
        width: 900px;
        height: 400px;
        margin: 10px;
        border-radius: 3px;
        background-color: #83bf21;
        margin-left: 50px;

    }

    .extras-login-signUp{
        z-index: -1;
        position:absolute;
        bottom: -1%;
        right: -2%;
        width: 1200px;
        height: 1150px;
        border-radius: 50%; /* arredonda as bordas*/
        background-color: #83bf21;
    }

    .menu{
        width: 50%;
        text-align: right;
    }
    
    
    .menu a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        margin-right: 50px;
        font-size: 40px;
    }

    .extras-about-us{
        z-index: -1;
        position:absolute;
        bottom: -1000px;
        right: -550px;
        width: 1200px;
        height: 1150px;
        border-radius: 50%; /* arredonda as bordas*/
        background-color: #83bf21;
    }

    .extras-upload{
        z-index: -1;
        position:absolute;
        bottom: -1%;
        right: -2%;
        width: 1200px;
        height: 1150px;
        border-radius: 50%; /* arredonda as bordas*/
        background-color: #83bf21;
    }

    form{
        height: 200px;
        width: 800px;
        margin-left: 20px;
    }
    
    form label{
        display: flex;
        margin-top: 20px;
        font-size: 35px;
    }
    
    form input{
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
        font-size: 30px;
    }
    
    button[type="submit"]{
        width: 800px;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background-color: #2f460a;
        color: white;
        font-size: 30px;
    }

    button[type="button"]{
        width: 800px;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background-color: #2f460a;
        color: white;
        font-size: 30px;
    }

    .p-results{
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    
    ul{
        list-style: none;
        width: 100%;
        font-size: 30px;
    }
    
    .a-results{
        color: #83bf21;
    }

    .welcome{
        width: 1250px;
        height: 50px;
        border-radius: 3px;
        float: left;
        display: block;
        margin-left: 265px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 0px;
    }

    .datetime-box{
        width: 360px;
        height: 500px;
        margin: auto;
        border-radius: 3px;
        float: right;
        display: block;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 50px;
    }

    .datetime {
        font-size: 20px;
        padding: 24px;
        color: #ffffff;
        background: #444444;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border-right: 10px #83bf21 solid;
        width: 500px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }
    
    .user-boxes{
        width: 360px;
        height: 190px;
        margin: auto;
        border-radius: 3px;
        background-color: #83bf21;
        margin-top: -1400px;
        text-align: center;
    }

    .plant-boxes{
        width: 360px;
        height: 160px;
        margin: auto;
        border-radius: 3px;
        background-color: #83bf21;
        float: left;
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    button.delete-button{
        width: 360px;
        height: 35px;
        margin-top: -1px;
        border: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        border-radius: 5px;
        background-color: #2f460a;
        color: white;
        font-size: 25px;
    }
    
    .alert{
        background-color: rgb(210, 99, 99);
        float: left;
        width: 498px;
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        top: 646px;
        left: 251px;
    }

    .welcome h1{
        font-size: 50px;
    }

    .welcome span{
        font-size: 50px;
    }
}